html {
  scroll-behavior: smooth;
}


.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.10);
  padding: 20px 0;
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.header_logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #0C0C0C;
}

.mobile_menu_container {
  background: url("/img/header/menu_bg.jpg") #0C0C0CEB;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  transition: opacity 500ms ease-in-out;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  pointer-events: none;
  opacity: 0;
}

.active {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}

.none {
  opacity: 0;
}


.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
  stroke: #fbfbfb;
}

.btn-burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-burger {
  z-index: 1;
  stroke: #0c0c0c;
}

.mobile_menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
}



.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  text-align: center;
  color: white;
}

.mobile_menu_item {
  position: relative;
}

.mobile_menu_link.current::after,
.mobile_menu_link::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #3350E9;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  transform: scale(0);
  transition: transform 150ms linear;
}

.mobile_menu_link.current::after {
  transform: scale(1);
}

.mobile_menu_link:hover::after, 
.mobile_menu_link:focus::after {
  transform: scale(1);
}

#header .social__link:hover .social__icon,
#header .social__link:focus .social__icon {
  fill: #3350E9;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mobile_menu_container {
    min-width: 200px;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 26px 0;
  }

  .icon-burger {
    width: 40px;
    height: 40px;
  }

  .mobile_menu_container {
    min-width: 330px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
  }

    .mobile_nav {
      row-gap: 32 px;
    }
}

@media only screen and (min-width: 1280px) {

  .header_container {
    display: flex;
    align-items: center;
    column-gap: 203px;
  }

  .header svg {
    fill: #0C0C0C;
  }

  .icon {
    display: none;
  }

  .mobile_menu_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: inherit;
    transform: none;
    transition: none;
    background: none;
    column-gap: 203px;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    pointer-events: all;
  }

  .mobile_nav {
    flex-direction: row;
    column-gap: 24px;
    color: black;

  }

  .mobile_menu_item {
    color: #0C0C0C;
  }

  .mobile_menu_link {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  .header .social__link {
    border-radius: 10px;
    border: 1px solid rgba(12, 12, 12, 0.10);
  }

  .header .social__link:hover {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }

  .header .social__link:hover {
    opacity: 0.8;
  }
}